<template></template>
<script>
import bus from "../bus.js";
export default {
  data() {
    return {
      message: "",
      type: ""
    };
  },

  mounted() {
    bus.$on("update-alert", selected => {
      this.message = selected.message;
      this.type = selected.type;
    });
  },

  watch: {
    message(val) {
      if (val !== "") {
        iziToast.show({
          title: this.getTitle(this.type),
          message: val,
          color: this.getColor(this.type),
          position: "topRight"
        });
      }
      this.message = "";
      this.type = "";
    }
  },

  methods: {
    getColor(val) {
      switch (val) {
        case "success":
          return "green";
        case "error":
          return "red";
      }
    },

    getTitle(val) {
      switch (val) {
        case "success":
          return "Sucesso";
        case "error":
          return "Erro";
      }
    }
  }
};
</script>