<template>
	<aside
		:class="{
			'is-open': menuStatus,
			'is-closed': !menuStatus
		}"
		v-cloak>

		<div class="fp-sidebar">

			<div class="item item d-flex justify-content-end">
				<!-- Button to Minimize or Maximize on > then Desktop Resolutions -->
				<span class="btn-toggle-sidebar mr-2 hidden-on-mobile"
					style="cursor: pointer;"
					@click.prevent="setCookieValue()">
					<i class="fas"
						:class="{
							'fa-angle-double-right': !menuStatus,
							'fa-angle-double-left': menuStatus
						}">
					</i>
				</span>

				<!-- Button to show mobile menu -->
				<span class="btn-close-menu-mobile mr-2 show-on-mobile">
					Fechar
				</span>
			</div>

			<slot></slot>
		</div>

	</aside>
</template>

<script>
import Cookies from "js-cookie";
export default {
  data() {
    return {
      menuStatus: true
    };
  },

  watch: {
    menuStatus(val) {
      val === false ? this.includeTooltip() : this.removeTooltip();
    }
  },

  mounted() {
    this.menuStatus = JSON.parse(Cookies.get("menuStatus"));
  },

  methods: {
    setCookieValue() {
      this.menuStatus = !this.menuStatus;
      Cookies.set("menuStatus", this.menuStatus, { expires: 365 });
    },

    includeTooltip() {
      $(document).ready(function() {
        $("aside.is-closed .fp-sidebar a.item")
          .each(function() {
            let tooltip = $(this)
              .find(".text")
              .text();
            $(this)
              .attr("ref", "tooltip")
              .attr("data-placement", "right")
              .attr("title", tooltip);
          })
          .tooltip("enable");
      });
      this.toggleExandSideBarIcon();
    },

    removeTooltip() {
      $(document).ready(function() {
        $("aside .fp-sidebar a.item")
          .removeAttr("ref")
          .tooltip("disable");
      });
      this.toggleExandSideBarIcon();
    },

    toggleExandSideBarIcon() {
      $(".btn-toggle-sidebar")
        .find("[data-fa-i2svg]")
        .toggleClass("fa-backward")
        .toggleClass("fa-forward");
    }
  }
};
</script>
