.fp-sidebar
	border-bottom-width: 0px
	border-right-width: 2px
	border-right-style: solid
	border-right-color: rgba(34,36,38,0.15)
	margin-left: 0
	margin-right: 0
	width: 100%
	display: flex
	flex-direction: column

	.item
		color: rgba(0,0,0,0.95)
		padding: 10px 0 10px 10px
		text-decoration: none
		display: flex
		align-items: flex-start

		&.btn-toggle-sidebar
			cursor: pointer
			font-family: "Font Awesome\ 5 Free"
			font-weight: 900
			content: "\f04e"

		&.btn-close-menu-mobile
			text-align: right

		&.active
			margin: 0em -2px 0em 0em
			border-right-color: rgba(0,0,0,0.95)
			border-right-style: solid
			border-right-width: 2px
			font-weight: bold
			color: rgba(0,0,0,0.95)
		.icon
			margin: 4px 10px 5px 0

		&[aria-expanded="false"]
			&:after
				display: flex
				justify-content: flex-end
				padding-right: 5px
				width: 100%
				font-family: "Font Awesome\ 5 Free"
				font-weight: 900
				content: "\f078"
		&[aria-expanded="true"]
			color: rgba(61, 129, 238, 1)
			&:after
				display: flex
				justify-content: flex-end
				padding-right: 5px
				width: 100%
				font-family: "Font Awesome\ 5 Free"
				font-weight: 900
				content: "\f077"

	.collapse
		background-color: rgba(234, 234, 234, 1)
		// box-shadow: inset 0px 2px 20px -2px rgba(179,179,179,0.75)
		a.item
			color: rgba(0, 0, 0, 0.7)

aside.is-closed
	.fp-sidebar
		.item
			justify-content: center
			.icon
				margin-right: 0
			.text
				display: none
			&.active
				i.icon
					margin-right: 2px
			&.item-collapse
				justify-content: center
				align-items: center
				.icon
					width: 100%
					text-align: center
					margin-right: 0
					margin-left: 10px
				&:after
					font-size: 0.8rem
					width: auto