.card.card-message
    display: flex
    flex-direction: row
    align-items: center
    .card-icon
        flex: 0 1 auto
        justify-content: center
        text-align: center
        width: 100px
        .icon
            margin: 0 0 0 10px
            font-size: 2rem
    .card-body
        .card-title
            font-weight: bold