.form-control.selectbox{
		display: block;
	    width: 100%;
	    padding: .375rem .75rem;
	    font-size: 1rem;
	    line-height: 1.5;
	    color: #495057 !important;
	    background-color: #fff;
	    background-clip: padding-box;
	    border: 1px solid #ced4da;
	    border-radius: .25rem;
	    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

	.form-control.search.selectbox.active.visible {
	    color: #495057 !important;
	    background-color: #fff !important;
	    border-color: #80bdff !important;
	    outline: 0 !important;
	    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
	}

	.form-control.selectbox .menu.visible {
		border-color: #80bdff !important;
		border-top-color: transparent !important;
		box-shadow: 0 3px 1px 2px rgba(0,123,255,.25) !important;

	}