.table-header {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.table-search {
    flex: 2;
}

.table-filters,
.table-actions {
    text-align: right;
}

.table-filters > .btn,
.table-actions > .btn {
    vertical-align: baseline;
}

.table-filters {
    margin: 0 40px;
}

.table-actions {
    justify-content: flex-end;
}

table.table >
thead >
tr >
th {
    cursor: pointer;
}

table.table >
thead >
tr >
th:hover {
    background-color: rgba(134, 136, 139, 0.2);
}

.table th,
.table td
{
    vertical-align: inherit;
}

.table .collapsing {
    width: 1px;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .table-header
    {
        display: flex;
        flex-flow: column wrap;
    }
    .table-search
    {
        flex: 1 0px;
        order: 2;
        width: 100%;
        margin: 5px 0;
    }

    .table-filters,
    .table-actions
    {
        flex: 1;
        width: 100%;
    }

    .table-filters
    {
        margin: 5px 0;
        display: flex;
        order: 3;
        justify-content: flex-end;

    }

    .table-filters .btn {
        width: 100%;
    }

    .table-filters .btn:first-child() {
        margin-right: 15px;
    }

    .table-actions
    {
        margin: 5px 0;
        order: 1;
        justify-content: flex-end;
    }
}