<template>
	<div v-cloak>

		<!-- header -->
		<div class="table-header">
			<div class="table-search" v-if="list.length > 0">
				<input type="text"
					class="form-control"
					placeholder="Buscar..."
					v-model="filter" />
			</div>

			<div class="table-filters" v-if="list.length > 0">
				<button class="btn btn-light rounded-full px-4 py-2 hover:shadow"
					role="button"
					:class="{'active': activeFilter}"
					@click.prevent="activeFilter = 1">
					Ativo
				</button>

				<button class="btn btn-light rounded-full px-4 py-2 hover:shadow"
					role="button"
					:class="{'active': !activeFilter}"
					@click.prevent="activeFilter = 0">
					Inativos
				</button>
			</div>

			<div class="table-actions">
				<a href="/config/roles/create"
					class="btn btn-primary rounded-full px-4 py-2 hover:shadow"
					role="button">
					Novo Grupo
				</a>
			</div>
		</div>

		<!-- If Table Has No Informations -->
		<div class="card card-message bg-light"
			v-if="list.length == 0">
			<div class="card-icon">
				<i class="fas fa-inbox icon"></i>
			</div>

			<div class="card-body">
				<h5 class="card-title">
					Não encontramos nenhum grupo cadastrado.
				</h5>
				<div class="card-text">
					Começe por
					<a href="/config/roles/create">aqui </a>
					cadastrando um
					<a href="/config/roles/create">novo grupo</a>.
				</div>
			</div>
		</div>

		<div class="show-on-mobile mb-3">
			<span class="text-muted font-weight-light font-italic">
				*Deslize para o lado para ver todos os dados da tabela.
			</span>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered"
				v-if="list.length > 0">
				<thead class="thead-light">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col"
							class="text-center">
							Status
						</th>
						<th scope="col"
							class="text-center">
							Ações
						</th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="role in filteredList"
						:key="role.uuid">
						<td>{{ role.name }}</td>
						<td class="collapsing text-center">
							<span :class="{
									'text-success': role.active,
									'text-danger': !role.active
							}">
									{{ role.active ? 'Ativo' : 'Inativo'}}
							</span>
						</td>
						<td class="collapsing text-center">
								<a :href="'/config/roles/' + role.uuid + '/edit'"
										class="btn btn-outline-secondary rounded-full px-4 py-2 hover:shadow"
										role="button">
										Editar
								</a>
								<button @click.prevent="toggleActiveStatus(role)"
										class="btn rounded-full px-4 py-2 hover:shadow"
										:class="{
												'btn-outline-success': !role.active,
												'btn-outline-danger': role.active
										}"
										role="button">
										{{ role.active ? 'Desativar' : 'Ativar'}}
								</button>
						</td>
					</tr>
				</tbody>

				<tfoot class="table-light">
					<tr>
						<th colspan="5">
							{{ filteredList.length }}
							{{
								filteredList.length == 1
								? 'Encontrado'
								: 'Encontrados'
							}}
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</template>

<script>
export default {
  props: ["roles"],

  data() {
    return {
      activeFilter: 1,
      filter: "",
      list: JSON.parse(this.roles)
    };
  },

  computed: {
    filteredList() {
      let items = this.list;
      let list = _.filter(items, { active: this.activeFilter });
      let filter = this.filter;

      if (filter === "") {
        return list;
      }

      return _.filter(list, item => {
        if (_.lowerCase(item.name).indexOf(_.lowerCase(filter)) >= 0) {
          return true;
        }
      });
    }
  },

  methods: {
    toggleActiveStatus(role) {
      let href = "/config/roles/" + role.uuid + "/active";
      axios.patch(href).then(response => {
        this.list = response.data;
      });
    }
  }
};
</script>