<template>
    <div v-cloak>

        <!-- Button trigger modal -->
        <div data-toggle="modal"
            :data-target="'#permissionRolesModal' + permission.id"
            class="btn btn-outline-primary rounded-full px-4 py-2 hover:shadow"
            role="button">
            Atribuir Grupos
        </div>

        <!-- Modal -->
        <div class="modal fade"
            :id="'permissionRolesModal' + permission.id"
            tabindex="-1"
            role="dialog"
            aria-labelledby="permissionRolesModalLabel"
            aria-hidden="true">
            <div class="modal-dialog"
                role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="permissionRolesModalLabel">
                            Associar Grupos a Permissão
                        </h5>
                        <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <span @click.prevent="attachAllRolesToPermission()"
                                class="btn btn-link"
                                role="button">
                                <i class="far fa-check-square"></i>
                                Associar Todos
                            </span>
                            <span @click.prevent="detachAllRolesToPermission()"
                                class="btn btn-link"
                                role="button">
                                <i class="far fa-square"></i>
                                Desassociar Todos
                            </span>
                        </div>
                        <div>
                            <!-- Filter -->
                            <div class="table-header my-3">
                                <div class="table-search">
                                    <input type="text"
                                        class="form-control"
                                        placeholder="Buscar..."
                                        v-model="filter" />
                                </div>
                            </div>
                            <!-- Roles -->
                            <div v-for="role in filteredList"
                                class="form-check form-group align-middle"
                                style="font-size: 18px;">
                                <input class="form-check-input"
                                    type="checkbox"
                                    :value="role.uuid"
                                    :id="'check' + role.name"
                                    :checked="checkIfPermissionHasRole(role)"
                                    @click.prevent="syncRoleToPermission(role.uuid)" />
                                <label class="form-check-label"
                                    :for="'check' + role.name">
                                    {{ role.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-outline-secondary rounded-full px-4 py-2 hover:shadow"
                            data-dismiss="modal">
                            Encerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
  props: ["roles", "permission", "activeRoles"],
  data() {
    return {
      list: this.activeRoles,
      filter: "",
      permissionRoles: this.roles
    };
  },

  computed: {
    filteredList() {
      let list = this.list;
      let filter = this.filter;

      if (filter === "") {
        return list;
      }

      return _.filter(list, item => {
        if (_.lowerCase(item.name).indexOf(_.lowerCase(filter)) >= 0) {
          return true;
        }
      });
    }
  },

  methods: {
    checkIfPermissionHasRole(role) {
      return _.find(this.permissionRoles, ["uuid", role.uuid]) ? true : false;
    },

    syncRoleToPermission(role) {
      let permission = this.permission;
      axios
        .post("/config/permissions/" + permission.uuid + "/sync-role", {
          role_uuid: role
        })
        .then(response => (this.permissionRoles = response.data));
    },

    attachAllRolesToPermission() {
      let permission = this.permission;
      axios
        .post("/config/permissions/" + permission.uuid + "/attach-roles")
        .then(response => (this.permissionRoles = response.data));
    },

    detachAllRolesToPermission() {
      let permission = this.permission;
      axios
        .post("/config/permissions/" + permission.uuid + "/detach-roles")
        .then(response => (this.permissionRoles = response.data));
    }
  }
};
</script>
