<template>
	<div v-cloak>

		<!-- header -->
		<div class="table-header">
			<div class="table-search" v-if="list.length > 0">
				<input type="text"
					class="form-control"
					placeholder="Buscar..."
					v-model="filter" />
			</div>

			<div class="table-filters" v-if="list.length > 0">
				<button class="btn btn-light rounded-full px-4 py-2 hover:shadow"
					role="button"
					:class="{'active': activeFilter}"
					@click.prevent="activeFilter = 1">
					Ativo
				</button>

				<button class="btn btn-light rounded-full px-4 py-2 hover:shadow"
					role="button"
					:class="{'active': !activeFilter}"
					@click.prevent="activeFilter = 0">
					Inativos
				</button>
			</div>

			<div class="table-actions">
			</div>
		</div>

		<!-- If Table Has No Informations -->
		<div class="card card-message bg-light"
			v-if="list.length == 0">
			<div class="card-icon">
				<i class="fas fa-inbox icon"></i>
			</div>

			<div class="card-body">
				<h5 class="card-title">
					Não encontramos nenhuma permissão cadastrada.
				</h5>
				<div class="card-text">
				</div>
			</div>
		</div>

		<div class="show-on-mobile mb-3">
			<span class="text-muted font-weight-light font-italic">
				*Deslize para o lado para ver todos os dados da tabela.
			</span>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered"
				v-if="list.length > 0">
				<thead class="thead-light">
					<tr>
						<th scope="col">Nome</th>
                        <th scope="col">Permissão</th>
                        <th scope="col">Descrição</th>
						<th scope="col"
							class="text-center">
							Ações
						</th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="permission in filteredList"
						:key="permission.uuid">
                        <td>{{ permission.friendly_name }}</td>
						<td>{{ permission.name }}</td>
                        <td>{{ permission.description }}</td>
						<td class="collapsing">
							<div class="d-flex justify-content-center ">
								<permission-roles
									class="mr-2"
									:roles="permission.roles"
									:active-roles="roles"
									:permission="permission">
								</permission-roles>
								<button @click.prevent="toggleActiveStatus(permission)"
									class="btn rounded-full px-4 py-2 hover:shadow"
									:class="{
										'btn-outline-success': !permission.active,
										'btn-outline-danger': permission.active
									}"
									role="button">
									{{ permission.active ? 'Desativar' : 'Ativar'}}
								</button>
							</div>
						</td>
					</tr>
				</tbody>

				<tfoot class="table-light">
					<tr>
						<th colspan="5">
							{{ filteredList.length }}
							{{
								filteredList.length == 1
								? 'Encontrado'
								: 'Encontrados'
							}}
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</template>

<script>
export default {
  props: ["permissions", "roles"],

  data() {
    return {
      activeFilter: 1,
      filter: "",
      list: this.permissions
    };
  },

  computed: {
    filteredList() {
      let items = this.list;
      let list = _.filter(items, { active: this.activeFilter });
      let filter = this.filter;

      if (filter === "") {
        return list;
      }

      return _.filter(list, item => {
        if (
          _.lowerCase(item.name).indexOf(_.lowerCase(filter)) >= 0 ||
          _.lowerCase(item.friendly_name).indexOf(_.lowerCase(filter)) >= 0 ||
          _.lowerCase(item.description).indexOf(_.lowerCase(filter)) >= 0
        ) {
          return true;
        }
      });
    }
  },

  methods: {
    toggleActiveStatus(permission) {
      let href = "/config/permissions/" + permission.uuid + "/active";
      axios.patch(href).then(response => {
        this.list = response.data;
      });
    }
  }
};
</script>