label.required
    &::after
        display: inline-block
        margin-right: 0.5em
        color: orange
        font-size: .5rem
        font-family: 'Font Awesome 5 Free'
        font-weight: 900
        font-style: normal
        font-variant: normal
        content: '\f069'
        vertical-align: top
        text-rendering: auto
        -webkit-font-smoothing: antialiased


