 /** Resets **/
html,
body
    height: 100%
    margin: 0
    padding: 0
    border: 0

body ::-webkit-scrollbar
    width: 0

[v-cloak]
    display: none

/** Variables **/
$header-height: 80px
$sidebar-opened: 210px
$sidebar-closed: 80px

/** Import Styles **/
@import mobile

@media only screen and (min-width: 768px)

    /** Helpers **/
    .hidden-on-mobile
        display: block

    .show-on-mobile
        display: none

    /** Style **/
    #app
        height: 100%

    header
        border-bottom: 1px solid #ccc
        display: flex
        height: $header-height
        position: fixed
        top: 0
        left: 0
        right: 0
        background: white
        z-index: 1000

        .header-wrapper
            align-items: center
            display: flex
            +size(100%, $header-height)
            .header-left
                display: flex
                flex-grow: 0
                justify-content: center
                width: 210px
                order: 1
                .logo
                    max-width: 70%
                    max-height: 60px
                    object-fit: cover
                    object-position: center center
            .header-center
                flex-grow: 1
                padding: 0 10px
                order: 2
            .header-right
                flex-grow: 0
                width: 200px
                order: 3

            .header-menu-mobile
                display: none

    #main-container
        display: flex
        background: teal
        +size(100%, stretch)
        padding: $header-height 0 0 0
        overflow: hidden
        min-height: 100%
        max-height: 100%
        z-index: 999

        aside, #content
            ::-webkit-scrollbar
                width: 0
                display: none

        aside
            position: relative
            background: #f1f1f1
            &.is-open
                width: $sidebar-opened
                min-width: $sidebar-opened
                overflow: scroll
                .fp-sidebar
                    width: $sidebar-opened
                    min-width: $sidebar-opened
            &.is-closed
                width: $sidebar-closed
                min-width: $sidebar-closed

        #content.main-content
            width: 100%
            background: white
            overflow-x: hidden
            overflow-y: scroll
            padding: 20px 10px

