@media screen and (max-width: 768px)

    .show-on-mobile
        display: block

    .hidden-on-mobile
        display: none

    #app
        height: 100%

    header
        .header-wrapper
            display: flex
            align-items: center
            justify-content: space-between
            padding: 10px 20px
            +size(100%, $header-height)
            background: #fff
            border-bottom: 1px solid #ccc
            position: fixed
            top: 0
            left: 0
            right: 0
            z-index: 1000

            .header-left
                order: 1

            .header-center
                display: none
                order: 3

            .header-right
                display: none
                order: 4

            .header-menu-mobile
                display: block
                order: 2

    .btn-open-menu-mobile, .btn-close-menu-mobile
        cursor: pointer

    .btn-close-menu-mobile
        float: right

    #main-container
        padding-top: $header-height
        height: 100%
        z-index: 999

        aside, #content
            ::-webkit-scrollbar
                width: 0
                display: none

        aside
            display: none

        aside.is-open
            display: block
            z-index: 1001
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
            height: 100%
            background: rgba(233, 233, 233, 0.9)
            .menu
                width: 100%

        #content.main-content
            width: 100%
            min-height: 100%
            background: white
            overflow-x: hidden
            overflow-y: scroll
            padding: 20px 10px