<template>
    <div v-cloak>
        <!-- Button trigger modal -->
        <button data-toggle="modal"
            data-target="#userRolesModal"
            class="btn btn-outline-primary rounded-full py-2 px-4 hover:shadow-md"
            role="button"
            type="button"
            v-if="list.length > 0">
            Associar Grupos ao Usuário
        </button>

        <!-- Modal -->
        <div class="modal fade"
            id="userRolesModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="userRolesModalLabel"
            aria-hidden="true">
            <div class="modal-dialog"
                role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="userRolesModalLabel">
                            Associar Grupos ao Usuário
                        </h5>
                        <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <span @click.prevent="attachAllRolesToUser()"
                                class="btn btn-link"
                                role="button">
                                <i class="far fa-check-square"></i>
                                Associar Todos
                            </span>
                            <span @click.prevent="detachAllRolesToUser()"
                                class="btn btn-link"
                                role="button">
                                <i class="far fa-square"></i>
                                Desassociar Todos
                            </span>
                        </div>
                        <div>
                            <div class="table-header my-3">
                                <div class="table-search">
                                    <input type="text"
                                        class="form-control"
                                        placeholder="Buscar..."
                                        v-model="filter" />
                                </div>
                            </div>
                            <div v-for="role in filteredList"
                                class="form-check form-group align-middle"
                                style="font-size: 18px;">
                                <input class="form-check-input"
                                    type="checkbox"
                                    :value="role.uuid"
                                    :id="'check' + role.name"
                                    :checked="checkIfUserHasRole(role)"
                                    @click.prevent="syncRoleToUser(role.uuid)">
                                <label class="form-check-label"
                                    :for="'check' + role.name">
                                    {{ role.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-outline-secondary rounded-full px-4 py-2 hover:shadow"
                            data-dismiss="modal">
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import bus from "../../bus.js";
export default {
  props: ["roles", "user"],
  data() {
    return {
      list: false,
      filter: "",
      userRoles: JSON.parse(this.roles)
    };
  },

  mounted() {
    axios
      .get("/config/roles/get")
      .then(response => (this.list = response.data));
  },

  computed: {
    filteredList() {
      let list = this.list;
      let filter = this.filter;

      if (filter === "") {
        return list;
      }

      return _.filter(list, item => {
        if (_.lowerCase(item.name).indexOf(_.lowerCase(filter)) >= 0) {
          return true;
        }
      });
    }
  },

  methods: {
    checkIfUserHasRole(role) {
      return _.find(this.userRoles, ["uuid", role.uuid]) ? true : false;
    },

    syncRoleToUser(role) {
      let user = JSON.parse(this.user);
      axios
        .post("/config/users/" + user.uuid + "/sync-role", { role_uuid: role })
        .then(response => (this.userRoles = response.data))
        .then(
          bus.$emit("update-alert", {
            message: "Atualizado com sucesso.",
            type: "success"
          })
        )
        .catch(errors =>
          bus.$emit("update-alert", {
            message: "Algo deu errado.",
            type: "error"
          })
        );
    },

    attachAllRolesToUser() {
      let user = JSON.parse(this.user);
      axios
        .post("/config/users/" + user.uuid + "/attach-roles")
        .then(response => (this.userRoles = response.data))
        .then(
          bus.$emit("update-alert", {
            message: "Atualizado com sucesso.",
            type: "success"
          })
        )
        .catch(errors =>
          bus.$emit("update-alert", {
            message: "Algo deu errado.",
            type: "error"
          })
        );
    },

    detachAllRolesToUser() {
      let user = JSON.parse(this.user);
      axios
        .post("/config/users/" + user.uuid + "/detach-roles")
        .then(response => {
          (this.userRoles = response.data), console.log(response.data);
        })
        .then(
          bus.$emit("update-alert", {
            message: "Atualizado com sucesso.",
            type: "success"
          })
        )
        .catch(errors =>
          bus.$emit("update-alert", {
            message: "Algo deu errado.",
            type: "error"
          })
        );
    }
  }
};
</script>
