<template>
    <div v-cloak>

        <!-- Button trigger modal -->
        <div data-toggle="modal"
            data-target="#userCompaniesModal"
            class="btn btn-outline-primary rounded-full py-2 px-4 hover:shadow-md"
            role="button">
            Associar Empresas ao Usuário
        </div>

        <!-- Modal -->
        <div class="modal fade"
            id="userCompaniesModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="userCompaniesModalLabel"
            aria-hidden="true">
            <div class="modal-dialog"
                role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="exampleModalLabel">
                            Associar Empresas ao Usuário
                        </h5>
                        <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <span @click.prevent="attachAllCompaniesToUser()"
                                class="btn btn-link"
                                role="button">
                                <i class="far fa-check-square"></i>
                                Associar Todos
                            </span>
                            <span @click.prevent="detachAllCompaniesToUser()"
                                class="btn btn-link"
                                role="button">
                                <i class="far fa-square"></i>
                                Desassociar Todos
                            </span>
                        </div>
                        <div>
                            <!-- Filter -->
                             <div class="table-header my-3">
                                <div class="table-search">
                                    <input type="text"
                                        class="form-control"
                                        placeholder="Buscar..."
                                        v-model="filter" />
                                </div>
                            </div>
                            <!-- List -->
                            <div v-for="company in filteredList"
                                class="form-check form-group align-middle"
                                style="font-size: 18px;">
                                <input class="form-check-input"
                                    type="checkbox"
                                    :value="company.uuid"
                                    :id="'check' + company.name"
                                    :checked="checkIfUserHasCompany(company)"
                                    @click.prevent="syncCompanyToUser(company.uuid)">
                                <label class="form-check-label"
                                    :for="'check' + company.name">
                                    {{ company.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                            class="btn btn-outline-secondary rounded-full px-4 py-2 hover:shadow"
                            data-dismiss="modal">
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
  props: ["companies", "permissions", "user"],
  data() {
    return {
      list: false,
      filter: "",
      userCompanies: JSON.parse(this.companies)
    };
  },

  mounted() {
    axios
      .get("/config/companies/get")
      .then(response => (this.list = response.data));
  },

  computed: {
    filteredList() {
      let list = this.list;
      let filter = this.filter;

      if (filter === "") {
        return list;
      }

      return _.filter(list, item => {
        if (_.lowerCase(item.name).indexOf(_.lowerCase(filter)) >= 0) {
          return true;
        }
      });
    }
  },

  methods: {
    checkIfUserHasCompany(company) {
      return _.find(this.userCompanies, ["uuid", company.uuid]) ? true : false;
    },

    syncCompanyToUser(company) {
      let user = JSON.parse(this.user);
      axios
        .post("/config/users/" + user.uuid + "/sync-company", {
          company_uuid: company
        })
        .then(response => (this.userCompanies = response.data));
    },

    attachAllCompaniesToUser() {
      let user = JSON.parse(this.user);
      axios
        .post("/config/users/" + user.uuid + "/attach-companies")
        .then(response => (this.userCompanies = response.data));
    },

    detachAllCompaniesToUser() {
      let user = JSON.parse(this.user);
      axios
        .post("/config/users/" + user.uuid + "/detach-companies")
        .then(response => (this.userCompanies = response.data));
    }
  }
};
</script>
