<template>
	<div v-cloak>

		<!-- header -->
		<div class="table-header">
			<div class="table-search" v-if="list.length > 0">
				<input type="text"
					class="form-control"
					placeholder="Buscar..."
					v-model="filter" />
			</div>

			<div class="table-filters" v-if="list.length > 0">
				<button class="btn btn-light rounded-full px-4 py-2 hover:shadow"
					role="button"
					:class="{'active': activeFilter}"
					@click.prevent="activeFilter = 1">
					Ativo
				</button>

				<button class="btn btn-light rounded-full px-4 py-2 hover:shadow"
					role="button"
					:class="{'active': !activeFilter}"
					@click.prevent="activeFilter = 0">
					Inativos
				</button>
			</div>

			<div class="table-actions">
				<a href="/config/companies/create"
					class="btn btn-primary rounded-full px-4 py-2 hover:shadow"
					role="button">
					Nova Empresa
				</a>
			</div>
		</div>

		<!-- If Table Has No Informations -->
		<div class="card card-message bg-light"
			v-if="list.length == 0">
			<div class="card-icon">
				<i class="fas fa-inbox icon"></i>
			</div>

			<div class="card-body">
				<h5 class="card-title">
					Não encontramos nenhum empresa cadastrada.
				</h5>
				<div class="card-text">
					Começe por
					<a href="/config/companies/create">aqui </a>
					cadastrando um
					<a href="/config/companies/create">nova empresa</a>.
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered"
				v-if="list.length > 0">
				<thead class="thead-light">
					<tr>
						<th scope="col">Nome</th>
						<th scope="col"
							class="text-center">
							Ações
						</th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="company in filteredList"
						:key="company.uuid">
						<td>{{ company.name }}</td>
						<td class="collapsing text-center">
							<a :href="'/config/companies/' + company.uuid + '/edit'"
								class="btn btn-outline-secondary rounded-full px-4 py-2 hover:shadow">
								Editar
							</a>
							<button @click.prevent="toggleActiveStatus(company)"
								class="btn rounded-full px-4 py-2 hover:shadow"
								:class="{
									'btn-outline-positive': !company.active,
									'btn-outline-danger': company.active
								}">
								{{ company.active ? 'Desativar' : 'Ativar'}}
							</button>
						</td>
					</tr>
				</tbody>

				<tfoot class="table-light">
					<tr>
						<th colspan="5">
							{{ filteredList.length }}
							{{
								filteredList.length == 1
								? 'Encontrado'
								: 'Encontrados'
							}}
						</th>
					</tr>
				</tfoot>

			</table>
		</div>
	</div>
</template>

<script>
export default {
  props: ["companies"],

  data() {
    return {
      activeFilter: 1,
      filter: "",
      list: JSON.parse(this.companies)
    };
  },

  computed: {
    filteredList() {
      let items = this.list;
      let list = _.filter(items, { active: this.activeFilter });
      let filter = this.filter;

      if (filter === "") {
        return list;
      }

      return _.filter(list, item => {
        if (_.lowerCase(item.name).indexOf(_.lowerCase(filter)) >= 0) {
          return true;
        }
      });
    }
  },

  methods: {
    toggleActiveStatus(company) {
      let href = "/config/companies/" + company.uuid + "/active";
      axios.patch(href).then(response => {
        this.list = response.data;
      });
    }
  }
};
</script>
